{% extends 'base.html' %}
{% block content %}

<h1>Add Artwork</h1>

<form action="/add_art" method="POST">
    Artist:
    <select name="artist">
      <option value="kushlani">Kushlani</option>
      <option value="artist2">Artist2</option>
      <option value="artist3">Artist3</option>
    </select><br>
    <label>Title:
    <input type="text" name="title">
    </label><br>
    Medium:
    <select name="medium">
      <option value="oil">Oil</option>
      <option value="acrylic">Acrylic</option>
      <option value="watercolor">Watercolor</option>
      <option value="mixed_media">Mixed media</option>
      <option value="pastel">Oil</option>
      <option value="charcoal">Acrylic</option>
      <option value="graphite">Watercolor</option>
      <option value="Gouache">Mixed media</option>
    </select><br>
    Substrate:
    <select name="substrate">
      <option value="canvas">Canvas</option>
      <option value="paper">Paper</option>
      <option value="panel">Panel</option>
    </select><br>
    Genre:
    <select name="genre">
      <option value="abstracts">Abstracts</option>
      <option value="portraits">Portraits</option>
      <option value="landscapes">Landscapes</option>
    </select><br>
    <label>Year:
    <input type="text" name="year">
    </label><br>
    <label>url:
    <input type="text" name="url">
    </label><br>

    <input type="submit" value="Add Artwork">
    <a id='cancel' href="/welcome">Cancel</a>
</form>
{% endblock %}