{% extends 'base.html' %}
{% block content %}

<h1>Artist Info</h1>

<form action="/artistInfo" method="POST">
    <label>Bio:
	    <div>
	    <textarea name="bio"></textarea>
	  	</div>
    </label>
    <label>Artist's Statement:
        <div>
	    <textarea name="statement"></textarea>
	  	</div>
    </label>
    </label>
    <label>Artist's Website:
        <input type="text" name="website">
    </label>
    <input type="hidden" name="user_id" value='{{ user_id }}'>
    <input type="submit" value="submit">
    <a id='cancel' href="/welcome">Cancel</a>
</form>

{% endblock %}