{% extends 'base.html' %}
{% block content %}
"
<h3  align="center">Artwork</h3>
<h3  align="center">by</h3>
<h3 align="center"><i>Kushlani Jayasinha</i></h3>
<h3></h3>

<form action="/artists_artwork">

  <table>

    {% for art in artwork_list %} 
    <td class="col-md-6">
      <figure>
        <img id="art-image2" src={{ art.url }} alt={{ art.title }} height="300" width="300">
        <figcaption>{{ art.title }}<figcaption>
      </figure>
    </td>
    {% endfor %}
    
  </table>


<table class="table">
        <td class="col-md-6">
            <a href="/add_art_form" id="add_art_form">Add Artwork</a>
        </td>
        <td class="col-md-6">
            <a href="/share_art_form" id="share_art_form">Share Artwork</button>
        </td>
    </tr>
</table>
</form>
{% endblock %}