{% extends 'base.html' %}
{% block content %}

<h1>Register</h1>
<h3>Please register: </h3>
<form action="/register" method="POST">
	<label>login
    <input id="email_id" type="text" name="login">
    </label>
    <label>Password
    <input type="text" name="pwd">
    </label>
    <label>First Name:
    <input type="text" name="first_name">
    </label>
    <label>Last Name:
    <input type="text" name="last_name">
    </label>
    <label>email:
    <input type="text" name="email">
    </label>
    <label>Phone:
    <input type="text" name="phone">
    </label>
    <label>line 1:
    <input type="text" name="add_line1">
    </label>
    <label>line 2:
    <input type="text" name="add_line2">
    </label>
    <label>City:
    <input type="text" name="city">
    </label>
    <label>State:
    <input type="text" name="state">
    </label>Zip code:
    <input type="text" name="zip_code">
    </label>
    <label>Country:
    <input type="text" name="country">

    <input type="submit" value="Register">
</form>
{% endblock %}