{% extends 'base.html' %}
{% block content %}

<h1>Share Art on your favorite Social Media</h1>
<h3>Pick the Social media site and number of artwork </h3>
<form action="/share_art" method="POST">
	Artist:
    <select name="artist">
      <option value="Kushlani">Kushlani</option>
      <option value="Vidharshi">Artist2</option>
      <option value="Alex">Artist3</option>
    </select><br><br>
    Genre:
    <select name="genre">
      <option value="all">All</option>
      <option value="abstracts">Abstracts</option>
      <option value="portraits">Portraits</option>
      <option value="landscapes">Landscapes</option>
      <option value="landscapes">Landscapes</option>
      <option value="stilllives">Still Lives</option>
      <option value="drawings">Drawings</option>
    </select><br><br>
    Social Media:
    <select name="social_media_name">
      <option value="twitter">Twitter</option>
      <option value="facebook">Facebook</option>
    </select><br><br>
  

    <input type="submit" value="Share Art">
    <a  href="/welcome">Cancel</a>
</form>
{% endblock %}