{% extends 'base.html' %}
{% block content %}

<h4>Pick an Artist and Genre to show Artwork</h4>

<form action="/artists_artwork" method="POST">
    
    Artist:
    <select id="pick_artist" name="artist">
      <option value="all">All </option>
      {% for artist in all_artists %}
        <option value={{ artist.artist_id }}>{{ artist.user.first_name }}  {{ artist.user.last_name }}</option>
      {% endfor %}
    </select>
    <a id = "register" href="/register">Register New Artist</a><br>
    Genre:
    <select id="genre" name="genre_picked">
      <option value="all">All</option>
      {% for gnr in genres %}
        <option value={{ gnr }}>{{ gnr }}</option>
      {% endfor %}
    </select>
    <!-- also option -to select by year -->
    <br>
    <input type="submit" value="Show Art"> &nbsp;&nbsp;&nbsp;
    <a id='cancel' href="/welcome">Cancel</a> 
</form>

<script src="https://code.jquery.com/jquery.js"></script>
<script>
"use strict";


function success(data) {
  var len = data.length;

  $('#genre').empty();

  $('#genre').append("<option value='all'>all</option>");

  for ( var i = 0; i<len; i++) {
      $('#genre').append("<option value="+data[i]+">"+data[i]+"</option>");
  }
}


function get_genres(evt) {
  evt.preventDefault();

  console.log("write something");

  var Artist_id = {"artist_id": $('#pick_artist').val()};

  $.post("/get_genre", Artist_id, success);
  }
 

$("#pick_artist").on("change", get_genres);

<!-- make an ajax call the query available genres to fill dropbox -->
</script>
{% endblock %}