{% extends 'base.html' %}
{% block content %}

<h1>Pick an Artist and Genre to show Artwork</h1>

<form action="/artists_artwork" method="POST">
    Artist:
    <select name="artist">
      <option value="kushlani">Kushlani</option>
      <option value="artist2">Artist2</option>
      <option value="artist3">Artist3</option>
    </select>
    Genre:
    <select name="genre">
      <option value="all">All</option>
      <option value="abstracts">Abstracts</option>
      <option value="portraits">Portraits</option>
      <option value="landscapes">Landscapes</option>
    </select>
    <input type="submit" value="Show Art">    
</form>

{% endblock %}