{% extends 'base.html' %}

{% block head %}

<style>
.container {
    background-color: red;
    background-size: cover;
    background: url(pattern.png) no-repeat center center;
}
.container-fluid{
    min-height: 100%;
    background-color: lightgrey;

}
</style>

{% endblock %}
{% block content %}
<div class="container-fluid">
<h1>Welcome to ArtAnnounce!</h1>

<table class="table">
        <tr>
        <td class="col-md-2">
            <a href="/show_art_page" id="show_art">Show Artwork</a>
        </td>
        <td class="col-md-2">
            <a href="/add_art_form" id="add_art">Add Artwork</a>
        </td>
        <td class="col-md-2">
            <a href="/" id="logout">Logout</button>
        </td>

    </tr>
</table>
<img src=https://fasoimages-4cde.kxcdn.com/25287_954964l+v=201609181617c201609181617error/heaven.jpg height="500"width="800">
</div>


{% endblock %}