{% extends 'base.html' %}
{% block content %}

<h1>Welcome to ArtAnnounce!</h1>

<table class="table">
        <tr>
        <td class="col-md-2">
            <a href="/show_art_page" id="show_art">Show Artwork</a>
        </td>
        <td class="col-md-2">
            <a href="/add_art_form" id="add_art">Add Artwork</a>
        </td>
        <td class="col-md-2">
            <a href="/share_art_form" id="share_art">Share Artwork</button>
        </td>
        <td class="col-md-2">
            <a href="/" id="logout">Logout</button>
        </td>

    </tr>
</table>


{% endblock %}